@import "../../style/style.css";
@import "../../style/colors.css";

.main {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  box-shadow: 3px 2px 22px -1px rgba(61, 58, 74, 1);
}

.top-half {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  min-height: 50vh;
}

.bottom-half {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.logo-wrapper,
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.3em;
  color: var(--primary-white);
}

.sub-title {
  color: var(--primary-white);
  margin-top: 0.3em;
}

.button {
  position: relative;
  color: var(--primary-white);
  background: linear-gradient(
    to right,
    var(--primary-red),
    var(--primary-orange)
  );
  border-radius: 50px;
  height: 56px;
  width: 230px;
  font-size: 20px;
  margin: 10px;
  outline: none;
}

footer {
  text-align: center;
  font-size: 0.6em;
}
