@import "../../../style/colors.css";

.user-navbar {
  justify-content: flex-end;
  background-color: var(--primary-red);
  height: 7%;
  min-height: 50px;
  box-shadow: 0px 12px 10px -11px rgba(0, 0, 0, 0.75);
}

.menu-button {
  border: 1px solid var(--primary-white);
  border-radius: 2px;
}
