@import "../../../style/colors.css";

.profile-wrapper {
  background-color: var(--primary-red);
  height: 100%;
  color: var(--primary-white);
}

.profile-wrapper button {
  color: var(--primary-red);
}

.profile {
  height: 30%;
}

.profile h3,
.reports-wrapper h2 {
  font-size: 1.2em;
}
