@import "../../style/colors.css";

.login-page {
  background: var(--primary-red);
  color: var(--primary-white);
}

.page-name {
  font-size: 1.2em;
}

.back-button {
  height: 32px;
  width: 32px;
}

.form-group {
  min-width: 230px;
}

.login-page button {
  min-width: 114px;
}

.google-btn {
  cursor: pointer;
}
.google-btn:hover {
  color: #fff;
}
